.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 608px;
    height: 389px;
    border: 1px solid;
    align-items: center;
    box-shadow: 0px 0px 5px 1px;
    border-radius: 4px;
    margin: 70px auto;
    position: relative;
}


